body{
    min-height: 325vh;
    max-width: 800px;
    margin: 0 auto;
    border: 3px solid black;
    background-image:url("https://www.legoland.com/florida/media/tt0nvo44/2019-10-25_legolandflorida_thegreatlegorace_0033_final.jpg");
    background-color:white;
    height:500px;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
h1{
font-size: 70px
font-weight600
{
h2
font-size20px
font-weight600


center}
display-block
margin-left-auto
margin-right-auto






















;