h1{
    color: darkorchid;
    text-align: center;
}
body{
    background-color:lightseagreen;
}
h2{
    border-style: groove;
    border-color: darkorchid;
    border-radius: 0cqmax;
    text-align:center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
p{
    border-style: double;
    border-color: mediumpurple;
}
table, th, td {
    border: 1px solid darkblue;
    text-align: center;
}




