body{
margin: 0 auto;
background-image:url("https://th.bing.com/th/id/OIP.Dv7HSwUVBw0sCcLOgdRIvgHaFj?rs=1&pid=ImgDetMain");
background-repeat:no-repeat;
background-size:cover;
min-height:325 ;
min-width:800;

}
h1{
































































































































































































































































    font-size: 70px;
    font-weight: 600;

}
h2{
    font-size: 20px;
    font-weight: 600;

}

 .center{
diplay: block;
margin-left: auto;
margin-right: auto;




 }
























































































































































































 